.app-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;

  h1 {
    margin: 0.5rem 1rem 0.5rem 0;
    font-size: 1.8rem;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  button:hover {
    color: get-color('primary');
  }

  button:active {
    transform: scale(0.95);
  }
}
