.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
  width: 100%;

  &__form {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input-container {
    position: relative;
    display: flex;
    align-items: center;

    .button {
      position: absolute;
      right: 0;
      border: none;
      border: 1px solid get-color('primary');
      background: get-color('primary');
      color: get-color('light');
      padding: 0.6rem 1.5rem;
      margin-right: 0.5rem;
      cursor: pointer;

      &:hover {
        background: get-color('quaternary');
        border-color: get-color('quaternary');
        color: get-color('light');
      }
    
      &:active {
        transform: scale(0.95);
      }
    }
  }

  .icon {
    position: absolute;
    color: get-color('primary');
    cursor: pointer;
    margin-left: 10px;
    margin-left: 0.5rem;
  }

  .error {
    color: #f74646;
    font-size: 1rem;
    position: absolute;
    right: 8px;
    top: -25px;
  }
}